.box{
    display: flex;
    flex-direction: row-reverse;
    background-color: rgb(255, 111, 0);
}

.b{
    height: 50px;
    width: 100px;
    color: white;
    background-color: black;
    border:2px solid green;
    border-radius: 2px;
    font-family: verdana;

}